.container {
  padding: 0 3rem;
}

.header {
  font-size: 3rem;
  text-align: center;
  background: -webkit-linear-gradient(rgb(222, 139, 230), rgb(42, 163, 207));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}